# Python & venv
.venv/
__pycache__/
*.pyc
*.pyo

# Jupyter & IDE
.ipynb_checkpoints/
.vscode/
.DS_Store

# Data & model artifacts
data/raw/*
data/processed/*
models/
outputs/
mlruns/
*.pkl
*.joblib

# DVC cache and temp folders
.dvc/cache/
.dvc/tmp/

# DVC local-only config (credentials)
.dvc/config.local

# Ignore API keys
.env


