# Python & venv
.venv/
__pycache__/
*.pyc
*.pyo

# Jupyter & IDE
.ipynb_checkpoints/
.vscode/
.DS_Store

# Data & model artifacts
data/raw/*
data/processed/*
models/
outputs/
mlruns/
*.pkl
*.joblib

# DVC cache
.dvc/
.cache/

# Ignore API keys
.env


